In [14]:
# Naložim vse potrebne pakete
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
# Ker delam z veliko podatki omejim število prikazanih vrstic
pd.options.display.max_rows = 10

# Naložim razpledelnico s katero bom delal
igralci = pd.read_json('podatki/igralci.json')
igralci.set_index('id', inplace=True) # Nastavim da je razpledelnica indeksirana po "id" igralca

In [13]:
igralci.sort_values("cena", ascending=False).tail(80)

,cena,dribling,država,fizika,hitrost,id_države,id_kluba,id_lige,ime,klub,...,obramba,ocena,podaje,popularnost,pozicija,spretnost,strel,višina,vzdevek,šibka_noga
id,,,,,,,,,,,,,,,,,,,,,
1042,300,68,Finland,66,73,17,32,19,Joel Pohjanpalo,Bayer 04 Leverkusen,...,26,72,54,1,ST,3,70,186,None,3
2880,300,71,Côte d'Ivoire,73,69,108,1887,308,Junior Tallo,Vitória Guimarães,...,28,72,60,0,ST,3,70,185,None,3
4421,300,70,United States,66,60,95,687,39,Wil Trapp,Columbus Crew SC,...,66,73,69,0,CDM,3,54,173,None,2
3922,250,72,Argentina,67,76,52,278,63,Ezequiel Ponce,AEK Athens,...,39,72,56,2,ST,3,70,178,None,3
4297,250,68,Costa Rica,74,63,72,111140,39,David Guzman,Portland Timbers,...,67,72,71,0,CDM,3,59,178,None,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1362,0,76,France,62,81,18,44,31,Yann Karamoh,Inter,...,26,73,65,-1,RM,3,68,185,None,4
412,0,55,Jamaica,75,65,82,5,13,Michael Hector,Chelsea,...,71,72,50,-1,CB,2,47,193,None,3
456,0,83,Spain,64,78,45,21,19,Juan Bernat Velasco,FC Bayern München,...,71,76,73,-5,LB,4,60,170,Bernat,3
2785,0,67,Denmark,81,68,13,39,31,Andreas Cornelius,Atalanta,...,39,75,53,-2,ST,3,73,193,None,3
2327,0,69,Turkey,77,68,48,325,68,Tolga Cigerci,Galatasaray SK,...,72,74,71,0,CDM,3,66,185,None,4